// app global css in SCSS form
@import 'quasar.variables.scss';

@font-face {
  font-family: 'Comfortaa';
  src: url(/fonts/Comfortaa[wght].woff2) format("woff2-variations")
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url(/fonts/UbuntuSansMono[wght].woff2) format("woff2-variations");
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url(/fonts/UbuntuSansMono-Italic[wght].woff2) format("woff2-variations");
  font-style: italic
}

@font-face {
  font-family: 'Ubuntu Sans';
  src: url(/fonts/UbuntuSans[wdth,wght].woff2) format("woff2-variations");
  font-style: normal
}

@font-face {
  font-family: 'Ubuntu Sans';
  src: url(/fonts/UbuntuSans-Italic[wdth,wght].woff2) format("woff2-variations");
  font-style: italic
}

.font-mono { font-family: 'Ubuntu Mono' }
.font-def { font-family: 'Ubuntu Sans'; font-weight: 200 }
.titre, .titre-xs, .titre-sm, .titre-md, .titre-lg, .titre-xl, .titre-xxl {
  font-family: "Comfortaa"
}

.fs-xxs, .titre-xxs { font-size:  0.5rem }
.fs-xs, .titre-xs { font-size:  0.7rem }
.fs-sm, .titre-sm { font-size:  0.8rem }
.fs-md, .titre-md { font-size:  0.9rem }
.fs-lg, .titre-lg { font-size:  1.0rem }
.fs-xl, .titre-xl { font-size:  1.3rem }
.fs-xxl, .titre-xxl { font-size:  2rem }

.bord1 { border: 1px solid $grey-5; border-radius: 5px; }
.ellipsis { text-decoration: ellipsis}

.height-2 { height: 2rem }
.height-3 { height: 3rem }
.height-4 { height: 4rem }
.height-5 { height: 5rem }
.height-8 { height: 8rem }

.dark, .dark0 { background-color: $dark  !important; color: white !important }
.clear, .clear0 { background-color: $clear !important; color: black !important }
.dark1 { background-color: $dark1 !important; color: white !important }
.clear1 { background-color: $clear1 !important; color: black !important }

.bsclear { box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.75) !important }
.bsdark { box-shadow: 5px -5px 5px 0px rgba(89,89,89,0.75) !important }

.wxs { max-width: 20rem; width: 100% }
.wsm { max-width: 30rem; width: 100% }
.wmd { max-width: 40rem; width: 100% }
.wlg { max-width: 50rem; width: 100% }

.pwxxs { max-width: 10rem !important; width: 95vw !important }
.pwxs { max-width: 20rem !important; width: 95vw !important }
.pwsm { max-width: 30rem !important; width: 95vw !important }
.pwmd { max-width: 40rem !important; width: 95vw !important }
.pwlg { max-width: 50rem !important; width: 95vw !important }
.pwxl { max-width: 90rem !important; width: 95vw !important }

.tbp { background: var(--q-primary) !important; color: var(--q-tbptc) !important }
.tbs { background: var(--q-secondary) !important; color: var(--q-tbstc) !important }
.tbw { background: var(--q-warning) !important; color: white !important }
.text-btwtc { color: var(--q-btwtc) !important }
.bg-btwtc { background: var(--q-btwtc) !important }
.text-btwbg { color: var(--q-btwbg) !important }
.bg-btwbg { background: var(--q-btwbg) !important }
.text-btntc { color: var(--q-btntc) !important }
.bg-btntc { background: var(--q-btntc) !important }
.text-btnbg { color: var(--q-btnbg) !important }
.bg-btnbg { background: var(--q-btnbg) !important }

.msg { font-size: 0.9rem }
.msg, .msg2 { font-style: italic; font-weight: bold; padding: 1px }
.text-msg, .msg, .msg2 { color: var(--q-msgtc) !important }
.bg-msg, .msg, .msg2 { background: var(--q-msgbg) !important }
.msg3 { font-size: 0.9rem; font-weight: bold; padding: 1px; background: var(--q-negative); color: white}

.select:hover { background-color: $yellow-2 !important; color: black !important; }
.current { border-left: 4px solid $yellow-9; padding-left:2px;}
.nocurrent { border-left: 4px solid transparent; padding-left:2px; }

/* surcharges de quasar */
.q-toolbar { padding: 0 !important; min-height: 0 !important }
.q-item__section--avatar { min-width: 0 !important; }
.q-item__section--side { padding-right: 5px !important; }
.q-item { padding: 2px !important; }
.q-stepper__step-inner { padding:5px !important; }
.q-stepper__tab { min-height: 0 !important; padding: 8px 8px !important; }
.q-field--highlighted .q-field__label { color: var(--q-warning) !important; }
.q-field--error .q-field__bottom { color: var(--q-warning) !important; }
.q-field--filled .q-field__control { padding: 0 !important; }
.q-menu { max-height: 90vh !important }
.q-avatar { height: 0.6em }
.q-drawer__opener { width: 1px !important }
.q-textarea .q-field__native { padding-top: 0 !important }

/* Barre de scroll */
/* Works on Firefox */
* { scrollbar-width: thin; scrollbar-color: blue orange }
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar { width: 6px }
*::-webkit-scrollbar-track { background: orange }
*::-webkit-scrollbar-thumb { background-color: blue; border-radius: 20px; border: 1px solid orange; }
