// app global css in SCSS form
@import 'quasar.variables.scss';

@font-face {
  font-family: 'Comfortaa';
  src: url(/fonts/Comfortaa[wght].woff2) format("woff2-variations")
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url(/fonts/UbuntuSansMono[wght].woff2) format("woff2-variations");
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url(/fonts/UbuntuSansMono-Italic[wght].woff2) format("woff2-variations");
  font-style: italic
}

@font-face {
  font-family: 'Ubuntu Sans';
  src: url(/fonts/UbuntuSans[wdth,wght].woff2) format("woff2-variations");
  font-style: normal
}

@font-face {
  font-family: 'Ubuntu Sans';
  src: url(/fonts/UbuntuSans-Italic[wdth,wght].woff2) format("woff2-variations");
  font-style: italic
}

.font-mono { font-family: 'Ubuntu Mono' }
.font-def { font-family: 'Ubuntu Sans'; font-weight: 200 }
.titre, .titre-xs, .titre-sm, .titre-md, .titre-lg, .titre-xl, .titre-xxl {
  font-family: "Comfortaa"
}

.fs-xxs, .titre-xxs { font-size:  0.5rem }
.fs-xs, .titre-xs { font-size:  0.7rem }
.fs-sm, .titre-sm { font-size:  0.8rem }
.fs-md, .titre-md { font-size:  0.9rem }
.fs-lg, .titre-lg { font-size:  1.1rem }
.fs-xl, .titre-xl { font-size:  1.3rem }
.fs-xxl, .titre-xxl { font-size:  2rem }

